html
  head
    title Error
  body
    h1 Oops! Something went wrong.
    p
      We're sorry, but the page you are looking for seems to be missing.
      Please check the URL and try again. If you believe this is an error,
      feel free to contact our support team.

    img(src="https://example.com/sad_cat_image.gif", alt="Sad Cat Image")
