html
  head
    title User Detail
  body
    h1 User Detail
    p
      strong Username:
      span= user.username
    p
      strong Email:
      span= user.email
    p
      strong Password:
      span= user.password